name: Build macOS App

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-13

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install customtkinter pypresence

    - name: Build with PyInstaller
      run: |
        pyinstaller --noconfirm --onefile --windowed --name "DiscordCustomRP" --clean main.py

    - name: Fix Permissions
      run: |
        chmod +x dist/DiscordCustomRP.app/Contents/MacOS/DiscordCustomRP

    - name: Create DMG
      run: |
        hdiutil create -volname "DiscordCustomRP" -srcfolder dist/DiscordCustomRP.app -ov -format UDZO DiscordCustomRP.dmg

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DiscordCustomRP-macOS
        path: |
          DiscordCustomRP.dmg
